<div style="text-align: center; margin-top: 25px">
  <img [src]="image">
</div>

<div class="upload">
  <div class="upload__top" [ngBusy]="{busy: busy}">
    <h3>Machine learning prediction </h3>

    <div class="titles">
      <div class="titles__title">Learning methods used for classification</div>
      <div class="titles__title">Select or Drop 'tran.csv' file</div>
      <div class="titles__title">Select or Drop 'test.csv' file / Fill manually</div>
    </div>

    <div class="interface">
      <div class="models">
        <mat-radio-group class="models__group" name="radioButtons" aria-label="Select an option" [(ngModel)]="classifier">
          <mat-radio-button class="models__group__btn" [value]="1">A random forest classifier (RandomForestClassifier)</mat-radio-button>
          <mat-radio-button class="models__group__btn" [value]="2">An AdaBoost classifier (AdaBoostClassifier)</mat-radio-button>
          <mat-radio-button class="models__group__btn" [value]="3">A Bagging classifier (BaggingClassifier)</mat-radio-button>
          <mat-radio-button class="models__group__btn" [value]="4">An extra-trees classifier (ExtraTreesClassifier)</mat-radio-button>
          <mat-radio-button class="models__group__btn" [value]="5">Gradient Boosting for classification (GradientBoostingClassifier)</mat-radio-button>
          <mat-radio-button class="models__group__btn" [value]="6">Soft Voting/Majority Rule classifier for unfitted estimators (VotingClassifier)</mat-radio-button>
        </mat-radio-group>
      </div>

      <input-file [(ngModel)]="files.train" class="train-uploader"></input-file>

      <div class="test-uploader">
        <input-file [(ngModel)]="files.test"  class="test-uploader__input"></input-file>

        <div class="test-uploader__manual" (click)="fillManually()" [style.background]="this.edit ? '#FD4080' : '#1CAABA'">
          <mat-icon class="edit">edit</mat-icon>
        </div>

      </div>


    </div>

    <div class="extra">
      <mat-form-field>
          <mat-label>Select pattern</mat-label>
          <mat-select [(value)]="pattern">
            <mat-option *ngFor="let p of patternValues" [value]="p.value">
              {{p.text}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </div>

    <div class="controls">
      <button mat-raised-button type="button" class="button" (click)="submission()">Submission</button>
      <span *ngIf="score != null" class="score">Score: {{score}}</span>
    </div>
  </div>


  <mat-form-field class="edit-field" *ngIf="edit">
    <textarea matInput [(ngModel)]="manualTest" placeholder="Leave test data for current pattern (csv format: value1;value2 etc)"></textarea>
    <button mat-raised-button type="button" class="button" (click)="expandManual()">Expand field</button>
  </mat-form-field>


  <div [innerHtml]=trained  class="html-trained"></div>
  <div class="html-trained__expand" *ngIf="trained" (click)="expandGrid()">Expand <mat-icon>expand_more</mat-icon></div>

</div>



<!--<input type="text" [(ngModel)]='str1'>-->
<!--<button (click)="getAvg()">Get Average</button>-->
<!--<button (click)="getImage()">Get Image</button>-->
<!--<button (click)="getData()">Get Data</button>-->
<!--<button (click)="getSBData()">Get SB</button>-->
<!--<button (click)="getMissingData()">Get Missing</button>-->
<!--<button (click)="getTrained()">Get Trained</button>-->
<!--<input type="text" value={{resavg}}>-->

<!--<br>-->
<!--<span [innerHtml]=trained></span>-->
<!--<br><br>-->
<!--<span [innerHtml]=pandas></span>-->

<!--<br><br>-->
<!--<img [src]="imgsrc2" width="500">-->
<!--<br><br>-->
<!--<img [src]="imgSB" width="1000">-->
<!--<br><br>-->
<!--<img [src]="imgMiss" width="600">-->
