@import '../node_modules/angular2-toaster/toaster.min.css';
@import '~ng-busy/src/style/busy.css';

//COMMON ---------------
.p-upside-20I{
  padding: 10px 0px !important;
}
.max-w-100perI{
  max-width: 100% !important;
}
.w-97perI{
  width: 97% !important;
}
.fs-135{
  font-size: 13.5px !important;
}
.p-0I{
  padding: 0px !important;
}

@mixin btn-indicate(){
  background-color: #1CAABA;

  &:hover{
    background-color: #ff4081;
  }
}

.pink-background{
  background-color: #ff4081 !important;
}

.fonSize9{
  font-size: 9pt !important;
}

.w-1800{
}

.colorActive1{
  color: #12ADC0
}



//---------------
html{
  height: 100%;
}

body{
  background-color: aliceblue;
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0px;
  height: 100%;

  .container-wrapper{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .toast-title{
      font-weight: normal;
    }

    header{
      background-color: #ff4081;
      height: 3px;
      overflow: auto;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
    }

    section{
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      margin: 0px auto;
      max-width: 1250px;
      padding: 10px;
      //max-width: 100%;
      background-color: #FFF;

      .upload{
        float: left;
        width: 100%;
        box-sizing: border-box;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 25px;
        position: relative;
        background-color: #eaf2f9;
        border-radius: 5px;

        .upload__htmlTrained{
          overflow: auto;
          width: 100%;
          margin-bottom: 30px;
        }

        .upload__top{
          overflow: visible;
          float: left;

          .titles, .title{
            width: 100%;
            float: left;

            .titles__title{
              width: 50%;
              text-align: center;
              float: left;
              color: #666;

              &:first-child{
                width: 48%;
              }
            }
          }

          .title{
            margin-bottom: 35px;
          }

          .interface{
            width: 100%;
            float: left;

            .models{
              width: 48%;
              float: left;
              margin: 0px 0px 0px 20px;

              .models__group{
                width: 100%;
                float: left;
                padding-top: 10px;

                .models__group__btn{
                  float: left;
                  width: 100%;
                  margin-top: 15px;

                  &:hover{
                    color: #12ADC0;
                  }
                }
              }
            }
            .train-uploader{
              width: 25%;
              float: left;
              margin: auto;

              label{
                text-align: center;
                width: 100%;
              }

              .file-container{
                overflow: visible;
                margin: 45px auto auto auto;

                .file-button{
                  background-color: #12ADC0;
                }
              }
            }

            .test-uploader{
              width: 50%;
              float: left;
              margin: auto;

              .test-uploader__input{
                label{
                  text-align: center;
                  width: 100%;
                }

                .file-container{
                  overflow: visible;
                  margin: 20px auto 25px auto;
                  height: 75px;
                  padding: 0px;

                  .file-button{
                    background-color: #12ADC0;
                  }
                }

              }

              .test-uploader__manual{
                width: 160px;
                background-color: #12ADC0;
                margin: 10px auto auto auto;
                border-radius: 5px;
                height: 51px;
                padding: 24px 0px 0px 0px;
                cursor: pointer;

                .edit{
                  margin: auto;
                  display: block;
                }
              }

            }
          }

          .extra{
            width: 100%;
            float: left;
            margin-top: 40px;
          }
        }

        .upload__editing{
          width: 100%;
          float: left;

          .asFields, .asRaw, .switcher, .asBtn, .asTable{
            width: 100%;
            overflow: visible;
            float: left;
          }

          .asTable{
            overflow: auto;
          }

          .switcher{
            position: relative;

            .switcher__button{
              position: absolute;
              top: 20px;
              height: 20px;
              line-height: 9px;

              @include btn-indicate();

              &:first-child{
                right: 0px;
              }

              &:last-child{
                right: 100px;
              }
            }
          }

          .asFields{
            .asFields__title{
              width: 100%;
              display: block;
              float: left;
            }

            .asFields__input{
              width: 9.091%;
              float: left;
              font-size: 15px;

              &:nth-child(11n+1){
                margin-right: 0px;
              }
            }

            .asFields__select{
              margin-right: 0px;
            }
          }

          .asRaw{
            .asRaw__title{
              width: 100%;
              display: block;
              float: left;
            }

            .asRaw__textarea{
              width: 100%;

              textarea{
                height: 181px;
              }
            }
          }

          .asBtn{
            .asBtn__addBtn{
              margin-right: 20px;
              background-color: #00CB00;
              width: 100px;

              &:hover{
                background-color: #ff4081;
              }
            }

            .asBtn__reset{
              background-color: #12ADC0;
              margin-top: 30px;
              width: 100px;

              &:hover{
                background-color: #ff4081;
              }
            }
          }

          .asTable{
            margin-top: 30px;
            border-top: 1px solid #9A9A9A;

            .asTable__table{
              width: 100%;
              font-size: 5.8pt;
              margin-top: 30px;
              border-collapse: collapse;

              tbody{
                line-height: 20px;
                tr{
                  cursor: pointer;
                  &:hover{
                    color: #12ADC0;
                  }
                  td{
                    padding: 5px 1px;
                    text-align: center;

                    mat-icon{
                      font-size: 17px;

                      &:hover{
                        color: red;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .upload__controls{
          width: 100%;
          float: left;
          padding-top: 20px;
          margin-bottom: 20px;

          .button{
            background-color: #00CB00;
            width: 100px;

            &:hover{
              background-color: #ff4081;
            }
          }

          .expandBtn{
            margin-bottom: 5px;
            background-color: #12ADC0;
            margin-left: 20px;
            margin-right: 20px;
            width: 100px;
            padding: 0px;

            &:hover{
              background-color: #ff4081;
            }
          }

          .score{
            font-weight: bold;
            margin-left: 50px;
          }
        }

        .html-trained__expand{
          position: absolute;
          bottom: 17px;
          left: 48%;
          cursor: pointer;
          font-weight: bold;
          &:hover{
            color: #12ADC0;
          }

          .mat-icon{
            position: relative;
            top: 19px;
            left: -7px;
            font-size: 50px !important;
            &:hover{
              color: #12ADC0;
            }
          }
        }
      }
    }

    footer{
      overflow: auto;
      background-color: #ff4081;
      height: 3px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
    }
  }
}
